@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

header {
  width: 100vw;
  height: 100vh;
  background-image: url("./../images/desktop/image-hero.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  padding: 5% 8%;
}
header h1 {
  font-weight: 300;
  font-size: clamp(2rem,3.5vw,4rem);
  width: 45%;
  text-transform: uppercase;
  padding: clamp(1rem,2vw,2rem);
  line-height: clamp(3rem,5vw,5rem);
  border: 2px solid white;
  margin-top: 10%;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .menu__btn {
  display: none;
}

.navlinks {
  display: flex;
  list-style: none;
}
.navlinks li {
  padding: 5px 15px 5px 5px;
}

main {
  width: 80%;
  margin: 7% auto;
}

#summary {
  position: relative;
}
#summary .summary-text {
  position: absolute;
  bottom: 0%;
  right: 0;
  width: 50%;
  padding: 6% 2px 2px 10%;
  background-color: white;
}
#summary .summary-text h2 {
  font-size: clamp(2rem,5vw,2.4rem);
  margin-bottom: 1rem;
  line-height: 3rem;
  text-transform: uppercase;
}
#summary .summary-text p {
  line-height: 1.5rem;
}

#creations {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
#creations h2 {
  font-size: 2rem;
  text-transform: uppercase;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-bottom: 1rem;
}
#creations button {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 8rem;
  border: 2px solid dimgray;
  background-color: white;
  text-transform: uppercase;
  justify-self: end;
  margin-bottom: 1rem;
}
#creations .image-container {
  position: relative;
}
#creations .image-container img {
  width: 100%;
}
#creations .image-container p {
  color: white;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  font-size: clamp(1rem,6vw,2.2rem);
  padding: clamp(1rem,6vw,2.2rem);
}

footer {
  background-color: black;
  padding: 2% 10%;
  display: flex;
  justify-content: space-between;
  color: #8c8c8c;
}
footer .pages .navlinks li {
  padding-left: 0;
}
footer .social {
  text-align: right;
}
footer .social .navlinks {
  justify-content: flex-end;
}
footer .social p {
  padding-right: 15px;
}

@media (max-width: 720px) {
  header {
    background-image: url("./../images/mobile/image-hero.jpg");
    background-size: cover;
  }
  header .head-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav .navlinks {
    display: none;
  }
  header nav .menu__btn {
    display: block;
  }
  header nav.open {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    z-index: 5;
  }
  header nav.open .navlinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  header nav.open .navlinks li {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  header h1 {
    width: 80%;
    margin: 40% auto 0 auto;
  }

  #summary {
    position: initial;
    text-align: center;
  }
  #summary img {
    width: 100%;
  }
  #summary .summary-text {
    position: initial;
    width: 100%;
    padding: 0;
  }

  #creations {
    display: flex;
    flex-direction: column;
  }
  #creations h2 {
    text-align: center;
  }
  #creations .image-container img {
    width: 100%;
  }
  #creations .image-container p {
    width: 70%;
  }
  #creations button {
    margin: auto;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }
  footer .pages .navlinks {
    flex-direction: column;
  }
  footer .social {
    text-align: center;
  }
  footer .social .navlinks {
    justify-content: center;
  }
  footer .social p {
    font-size: 0.8rem;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
