//importing the font

@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");


//variables
//colors 
$white:hsl(0,0%,100%);
$black:hsl(0,0%,0%);
$dark-grey:hsl(0,0%,55%);
$very-dark-gray:hsl(0,0%,41%);
* {
	margin: 0;
    padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Josefin Sans", sans-serif;
	overflow-x: hidden;
}

header {
	width: 100vw;
	height: 100vh;
	background-image: url("../../images/desktop/image-hero.jpg");
	background-repeat: no-repeat;
    color: $white;
	padding: 5% 8%;
	h1 {
		font-weight: 300;
		font-size: clamp(2rem,3.5vw,4rem);
		width: 45%;
		text-transform: uppercase;
		padding: clamp(1rem,2vw,2rem);
		line-height: clamp(3rem,5vw,5rem);
		border: 2px solid $white;
		margin-top: 10%;
	}
}

nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.navlinks {
    display: flex;
	list-style: none;
	li {
		padding: 5px 15px 5px 5px;
	}
}


main {
	width: 80%;
	margin:7% auto; 
}

#summary {
    position: relative;
    img {
        height: 100%;
    }
    .summary-text{
        position: absolute;
        bottom: 0%;
        right: 0;
        width: 50%;
        padding: 6% 2px 2px 10%;
        background-color: $white;
        
        h2 {
            font-size: clamp(2rem,5vw,2.4rem);
            margin-bottom: 1rem;
            line-height: 3rem;
            text-transform: uppercase;
        }
        
        p{
            line-height: 1.5rem;
        }
    }
}



#creations {
	margin-top: 10%;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap: 1rem;

	h2 {
		font-size: 2rem;
		text-transform: uppercase;
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
		margin-bottom: 1rem;
	}

	button {
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 1;
		grid-row-end: 2;
		width: 8rem;
		border: 2px solid $very-dark-gray;
		background-color: $white;
		text-transform: uppercase;
		justify-self: end;
		margin-bottom: 1rem;
	}

	.image-container {
		position: relative;

		// p::before {
		// 	content: '';
		// 	width: calc(100% - 1rem);
		// 	height: 150%;
		// 	background-image: linear-gradient(to bottom,transparent,transparent,$black);
		// 	position: absolute;
		// 	bottom: 0;
		// 	left: 0;
		// }
		p {
			color: $white;
			position: absolute;
			bottom: 0;
			text-transform: uppercase;
			font-size: 2.2rem;
			padding: 2rem;
		}

	}
}



footer {
	background-color: $black;
	padding: 2% 10%;
	display: flex;
	justify-content: space-between;
	color: $dark-grey;

	.pages {
		.navlinks {
			li {
				padding-left: 0;
			}
		}
	}

	.social {
		.navlinks {
			justify-content: flex-end;
		}
		text-align: right;
		p{
			padding-right: 15px;
		}
	}
}

@media (max-width:720px) {

	header {
		background-image: url("../../images/mobile/image-hero.jpg");
		h1 {
			width: 80%;
			margin: 40% auto 0 auto;
		}
	}

	#summary {
		position: initial;
		text-align: center;

		img {
			width: 100%;
		}

		.summary-text {
			position: initial;
			width: 100%;
			padding: 0;
		}
	}

	#creations {
		display: flex;
		flex-direction: column;

		.image-container {
			img {
				width: 100%;
			}
		}

		button {
			margin: auto;
		}
	}

	footer {
		flex-direction: column;
		text-align: center;
		.pages {
			.navlinks {
				flex-direction: column;
			}
		}

		.social {
			text-align: center;
			.navlinks {
				justify-content: center;				

			}
			p {
				font-size: 0.8rem;
				padding: 0;
			}
		}
	}
}